<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p id="author">
  <b>By:</b>
  <%= @post.author.email %>
</p>

<p id="status">
  <b>Status:</b>
  <%= @post.published? ? "Published" : "Unpublished" %>
</p>

<p id="comments">
<%= render 'comments/form' %>
</p>

<table>
  <tbody>
    <% policy_scope(@post.comments).each do |comment| %>
      <tr>
        <% if !comment.new_record? %>
          <td>Author: <%= comment.author %>
          <td>Content:  <%= comment.content %></td>
          <td>Status: <%= comment.approved? ? "Approved" : "Not Approved" %></td>
          <% if current_user.editor? || current_user.author? %>
          <td><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></td>
          <td><%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

<p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
</p>
